body{
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg,#ffd6e7,#e7d6ff);
margin:0;
padding:0;
text-align:center;
}

/* HOME PAGE CENTERING */

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* MAIN CARD */

.card{
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
max-width:500px;
animation: fadeIn 1.5s;
}

/* BUTTON */

.btn{
background:#ff8fab;
border:none;
padding:12px 25px;
font-size:16px;
border-radius:25px;
cursor:pointer;
color:white;
transition:0.3s;
}

.btn:hover{
transform:scale(1.1);
background:#ff5d8f;
}

/* PAGE TITLES */

.title{
margin-top:40px;
font-size:36px;
color:#444;
}

/* LETTER PAGE */

.letterPage{
padding:50px;
}

.letterBox{
max-width:700px;
margin:auto;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
line-height:1.8;
font-size:18px;
}

/* NEXT BUTTON AREA */

.next{
margin:40px;
}

/* TIMELINE MEMORY PAGE */

.timeline{
display:flex;
overflow-x:auto;
gap:40px;
padding:40px;
scroll-behavior:smooth;
}

/* EACH MEMORY CARD */

.memory{
background:white;
border-radius:15px;
box-shadow:0 6px 20px rgba(0,0,0,0.15);
padding:15px;
transition:0.3s;
width:260px;
flex-shrink:0;
}



.memory img{
width:100%;
height:auto;
border-radius:12px;
}



.memory p{
margin-top:12px;
font-size:18px;
color:#444;
font-weight:500;
line-height:1.4;
}


/* HOVER EFFECT */

.memory:hover{
transform:scale(1.08);
}

/* SCROLLBAR STYLING */

.timeline::-webkit-scrollbar{
height:10px;
}

.timeline::-webkit-scrollbar-thumb{
background:#ff8fab;
border-radius:10px;
}

/* FADE IN ANIMATION */

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}
}

.memoryPhotos{
display:flex;
gap:8px;
}

.memoryPhotos img{
width:50%;
height:auto;
border-radius:12px;
}

.letterBox p{
white-space: pre-wrap;
}

/* SIDE BY SIDE PHOTOS */

.memoryPhotosRow{
display:flex;
gap:8px;
}

.memoryPhotosRow img{
width:50%;
border-radius:12px;
}

/* STACKED PHOTOS */

.memoryPhotosColumn{
display:flex;
flex-direction:column;
gap:8px;
}

.memoryPhotosColumn img{
width:100%;
border-radius:12px;
}

/* TWO VERTICAL PORTRAIT PHOTOS */

.memoryPhotosVertical{
display:flex;
flex-direction:column;
gap:10px;
}

.memoryPhotosVertical img{
width:100%;
height:auto;
border-radius:12px;
}

/* VERTICAL PHOTO + HORIZONTAL PHOTO */

.memoryPhotosMixed{
display:flex;
flex-direction:column;
gap:8px;
}

.memoryPhotosMixed img{
width:100%;
border-radius:12px;
object-fit:cover;
}

/* first image = vertical */
.memoryPhotosMixed img:first-child{
height:260px;
}

/* second image = horizontal */
.memoryPhotosMixed img:last-child{
height:150px;
}

.heart {
  position: fixed;
  bottom: -10px;
  color: pink;
  font-size: 20px;
  animation: float 6s linear infinite;
}

@keyframes float {
  from { transform: translateY(0); opacity:1; }
  to { transform: translateY(-100vh); opacity:0; }
}
